.backLink {
    padding: 10px;
    border-radius: 8px;
    display: block;
    width: 50px;
    margin-bottom: 15px;
    text-align: center;
}

.linkWrap {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.infoLink {
    padding: 10px;
    border-radius: 8px;
    color: black;
}